DATABASE_URL="sqlserver://172.18.176.1:1433;database=UNIFIED_INTERFACE;user=Desarrollo;password=Desarrollo;trustServerCertificate=true"
NODE_ENV="development"
PORT=3000
JWT_SECRET="your-super-secret-key-change-in-production"
JWT_EXPIRES_IN="1d"